<nav id="menu">
  <a class="close-button">Close</a>
  <div class="nav-wrapper">
    <p class="nav-label">Navigation</p>
    <ul>
      {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}" role="presentation">{{ title }}</a></li>
      {% endfor %}

      {% if DISPLAY_PAGES_ON_MENU %}
            <li>
                <span style="font-size: 10pt; padding: 1.25em;">Pages</span>
            </li>
          {% for p in pages %}
              <li{% if p == page %} class="nav-{{p.slug}} active"{% endif %} role="presentation"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
              
          <li>
              <span style="font-size: 10pt; padding: 1.25em;">You May Interested</span>
          </li>
          {% for tag, null in tags %}
              <li role="presentation"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
          {% endfor %}
      {% else %}
      {% endif %}

      {% for name,link in SOCIAL if name in ['rss', 'rss-square', 'feed'] %}
        <li class="nav-rss"><a href="{{ link }}"><i class="ic ic-rss"></i> Subscribe</a></li>
      {% endfor %}
    </ul>
  </div>
</nav>
